:root {
  --background: #222f3e;
  --foreground: #c8d6e5;
  --primary: #feca57;
  --primary-foreground: #222f3e;
  --secondary: #5f27cd;
  --secondary-foreground: #c8d6e5;
  --success: #1dd1a1;
  --accent: #54a0ff;
  --accent-foreground: hsl(60, 0%, 100%);
  --destructive: #ee5253;
  --destructive-foreground: hsl(0, 0%, 98%);
  --muted: hsl(240, 5%, 25%);
  --muted-foreground: hsl(60, 5%, 85%);
  --radius: 0.5rem;
}

* {
  border-color: var(--border);
  border-width: 1px;
  /* border-style: solid; */
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}
