.header {
  background-color: var(--background);
  opacity: 0.8;
  backdrop-filter: blur(1rem);
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-md {
  padding-left: 15%;
  padding-right: 15%;
}

.link {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
}

.nav {
  display: none;
}

.nav-md {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  font-size: var(--text-medium-font-size);
  font-weight: 500;
  text-decoration: none;
  color: var(--disabled-text);
}

.nav-link-active {
  color: var(--default-text);
  font-weight: var(--text-medium-bold-font-weight);
  font-size: var(--text-medium-bold-font-size);
  line-height: var(--text-medium-bold-line-height);
}

.brand {
  font-weight: bold;
  font-size: xx-large;
  color: var(--primary);
}

.button {
  border-radius: 1000px;
  background-color: var(--default-color);
  color: var(--default-text);
  padding: 0.5rem 1.5rem;
  font-size: var(--text-medium-font-size);
  border-color: var(--default-color);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(205, 213, 229, 0.171);
}
