.section {
  width: 100%;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
  max-width: 72rem;
  margin: 0 auto;
  height: 85vh;
  min-height: 50rem;
}

@media (min-width: 768px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }
}

.span {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  color: #6366f1;
  font-weight: 500;
}

@media (min-width: 768px) {
  .span {
    font-size: 0.875rem;
  }
}

.heading {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3.75rem;
  }
}

.paragraph {
  font-size: 1rem;
  color: var(--primary);
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .paragraph {
    margin: 1.5rem 0;
    font-size: 1.125rem;
  }
}
